figure{
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        height: 65px;
        width: 260px;
        object-fit: contain;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 600px) {
    figure {
        img {
            height: 45px;
            width: 260px;
      }
    }
  }